@import "variables";
@import "type-badges";
@import "mixins";

body {
  background-color: $primary-color;
  color: $text-color;
  font-family: $font-stack;
}

button:focus {
  outline: 1px solid $text-color;
}

button:active {
  filter: saturate(125%);
  outline: 1px solid red;
}

.control-buttons__button,
.results-controls__button,
.search-form__button,
.pokemon-modal__close-button {
  @include button;
  @include box-shadow;
  @include button-hover;
}

.search-form__input {
  @include button;
  @include box-shadow-hover;
  cursor: auto;
}

.container {
  margin: auto;
  max-width: 77%;
}

.header {
  margin: auto;
  text-align: center;

  &__logo {
    width: 150px;
    margin: auto;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.search-form {
  display: flex;
  justify-content: center;

  &__input {
    border: none;
    min-width: 320px;
  }

  &__button {
    border: none;
    border-left: 1px solid black;
  }
}

.control-buttons {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;

  &__button {
    width: 150px;
    margin: 5px;
  }
}

.results {
  @include box-shadow;
  margin: auto;
  margin-bottom: 1em;
  background-color: lighten($primary-color, 1%);
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  min-width: 334px;
  width: max-content;
  max-width: 92%;
  min-height: 500px;
  padding: 0.5rem 1rem;
}

.pokemon-box {
  @include box-shadow;
  background-color: $primary-color;
  border: 1px solid black;
  cursor: pointer;
  height: 460px;
  margin: 1rem 1rem;
  min-width: 300px;
  max-width: 300px;
  @include shadow-transition;

  &:hover {
    @include box-shadow-hover;
  }

  &__name {
    font-size: 1.5rem;
  }

  &__star {
    padding: 0;
  }

  &__star-button {
    border: none;
    cursor: pointer;
    position: float;
    float: right;
    padding: 0;
    margin: 12px 12px 0 0;
    width: 30px;
    height: 30px;
    background-color: transparent;

    &:hover {
      background-color: transparent;
      transform: none;
    }

    &--active {
      svg > path {
        fill: yellow;
        stroke: yellow;
      }
    }
  }

  &__image {
    display: block;
    margin: 0 80px 0 80px;
    height: 150px;
    width: 150px;
  }

  & > p {
    margin: 3px;
    text-align: center;
  }

  &__evolutions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
  }

  &__evolutions-image {
    cursor: pointer;
    height: 75px;
    width: 75px;
  }
}

.pokemon-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(61, 61, 61, 0.815);
  // opacity: 0;
  // visibility: hidden;
  transform: scale(1.1);

  &__content {
    @include box-shadow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary-color;
    padding: 1rem 1.5rem;
    min-width: 33%;
    height: 80%;
    border-radius: 2px;
    @include shadow-transition;

    &:hover {
      @include box-shadow-hover;
    }
  }

  &__image {
    display: block;
    margin: -30px 160px 0 160px;
    height: 305px;
    width: 305px;
  }

  p {
    margin: 3px;
    text-align: center;
  }

  &__close-button {
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 25px;
    height: 25px;
    position: relative;
    float: right;
    top: -5px;
    right: -12px;

    &:hover {
      padding: 0;
      margin: 0;
    }
  }

  &__star-button {
    position: relative;
    top: 25px;
    right: 20px;
  }

  &__evolutions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    &-image {
      cursor: pointer;
      height: 100px;
      width: 100px;
    }
  }
}

.results-controls {
  display: none;

  &__button {
    margin: 1rem;
    padding: 0.5rem 2rem;
  }

  &--active {
    display: flex;
    justify-content: center;
  }
}
