$font-stack: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
$primary-color: #171717;
$text-color: #e6e6e6;

body {
  background-color: $primary-color;
  color: $text-color;
  font-family: $font-stack;
}

button,
input {
  margin: 1rem 1rem;
  padding: 0.5rem 0.5rem;
}

.container {
  margin: auto;
  max-width: 80%;
}

.header {
  margin: auto;
  text-align: center;

  &__logo {
    margin: auto;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.controls {
  &__input {
    display: block;
    margin: auto;
    width: 385px;
  }
}

.control-buttons {
  display: flex;
  justify-content: center;
  transform: translateX(-15px);
}

.pokemon-box__star:hover {
  path {
    stroke: yellow;
  }
}

.results-controls {
  display: flex;
  justify-content: center;

  &__button {
    padding: 0.5rem 2rem;
  }
}